.loading-bar-container{
  height: 50px;
  width: 100%;
  .proficiency-title{

    .icon {
      width: 20px;
      height: 20px;
    }
  }
  .loading-bar{
    border-radius: 25px;
    height: 8px;
    width: 100%;
    background: black;
    .beginner{
      animation: fill-loading-bar-beginner 2s;
      border-radius: 25px;
      height: 100%;
      width: 25%;
      background: #4fbb87;
    }
    .intermediate{
      animation: fill-loading-bar-intermediate 2s;
      border-radius: 25px;
      height: 100%;
      width: 50%;
      background: #4fbb87;
    }
    .expert{
      animation: fill-loading-bar-expert 2s;
      border-radius: 25px;
      height: 100%;
      width: 75%;
      background: #4fbb87;
    }
    .master{
      animation: fill-loading-bar-master 2s;
      border-radius: 25px;
      height: 100%;
      width: 100%;
      background: #4fbb87;
    }
  }
}

@keyframes fill-loading-bar-beginner {
  0% { width: 0% }
  100% { width: 25% }
}
@keyframes fill-loading-bar-intermediate {
  0% { width: 0% }
  100% { width: 50% }
}
@keyframes fill-loading-bar-expert {
  0% { width: 0% }
  100% { width: 75% }
}
@keyframes fill-loading-bar-master {
  0% { width: 0% }
  100% { width: 100% }
}
