.loading-bar-container{
  height: 50px;
  width: 100%;
  .proficiency-title{
    letter-spacing: 2px;

    .icon {
      width: 20px;
      position: relative;
      height: 20px;
      top: 3px;
    }
  }
  .loading-bar{
    border-radius: 25px;
    height: 8px;
    width: 100%;
    background: black;
    .beginner{
      animation: fill-loading-bar-beginner 2s 2s forwards;
      border-radius: 25px;
      height: 100%;
      width: 0%;
      background: #4fbb87;
    }
    .intermediate{
      animation: fill-loading-bar-intermediate 2s 2s forwards;
      border-radius: 25px;
      height: 100%;
      width: 0%;
      background: #4fbb87;
    }
    .expert{
      animation: fill-loading-bar-expert 2s 2s forwards;
      border-radius: 25px;
      height: 100%;
      width: 0%;
      background: #4fbb87;
    }
    .master{
      animation: fill-loading-bar-master 2s 2s forwards;
      border-radius: 25px;
      height: 100%;
      width: 0%;
      background: #4fbb87;
    }
  }
}

@keyframes fill-loading-bar-beginner {
  0% { width: 0% }
  100% { width: 25% }
}
@keyframes fill-loading-bar-intermediate {
  0% { width: 0% }
  100% { width: 50% }
}
@keyframes fill-loading-bar-expert {
  0% { width: 0% }
  100% { width: 75% }
}
@keyframes fill-loading-bar-master {
  0% { width: 0% }
  100% { width: 100% }
}
