<div class="header">
  Timeline
</div>

<div class="timeline-v2-container">
  <!--Section -->
  <div class="timeline-section-left">
    <div class="left-content">
      <div class="title">
        Learning ARKit and Unity
      </div>
      <div class="year">
        September 2017
      </div>
      <div class="content">
        Bringing the Store to the Customer
      </div>
    </div>
    <div class="circle"></div>
  </div>
  <!-- Section -->
  <div class="timeline-section-right">
    <div class="right-content">
      <div class="title">
        Deployed Personal Website using MEAN
      </div>
      <div class="year">
        August 2017
      </div>
      <div class="content">
        Demonstrate knowledge of MEAN Stack
      </div>
    </div>
    <div class="circle"></div>
  </div>
  <!--Section -->
  <div class="timeline-section-left">
    <div class="left-content">
      <div class="title">
        Patent Filed with AT&T Disclosure System
      </div>
      <div class="year">
        May 2017
      </div>
      <div class="content">
        Bringing the Store to the Customer
      </div>
    </div>
    <div class="circle"></div>
  </div>
  <!-- Section -->
  <div class="timeline-section-right">
    <div class="right-content">
      <div class="title">
        Started Learning Swift 3
      </div>
      <div class="year">
        February 2017
      </div>
      <div class="content">
        Demonstrate knowledge of MEAN Stack
      </div>
    </div>
    <div class="circle"></div>
  </div>
  <!--Section -->
  <div class="timeline-section-left">
    <div class="left-content">
      <div class="title">
        Learning Angular 2/4 & MEAN Stack
      </div>
      <div class="year">
        Deecember 2016
      </div>
      <div class="content">
        Bringing the Store to the Customer
      </div>
    </div>
    <div class="circle"></div>
  </div>
  <!-- Section -->
  <div class="timeline-section-right">
    <div class="right-content">
      <div class="title">
        Began Working in Angular JS Team
      </div>
      <div class="year">
        October 2016
      </div>
      <div class="content">
        Demonstrate knowledge of MEAN Stack
      </div>
    </div>
    <div class="circle"></div>
  </div>
   <!--Section -->
    <div class="timeline-section-left">
      <div class="left-content">
        <div class="title">
          Started SM/POD Role at AT&T
        </div>
        <div class="year">
          January 2016
        </div>
        <div class="content">
          Bringing the Store to the Customer
        </div>
      </div>
      <div class="circle"></div>
    </div>
</div>
