.timeline-v2-container {
  overflow: hidden;
  margin: 0 auto;
  width: 402px;
  display: flex;
  flex-direction: column;
  .timeline-section-left {
    user-select: none;
    cursor: pointer;
    width: 200px;
    height: 140px;
    border-right: solid 1px black;
    .left-content{
      transition: 1s;
      padding-right: 40px;
      padding-left: 35px;
      width: 125px;
      height: 20px;
      border-bottom: solid 1px black;
      border-radius: 12px 0px 0px 12px;
      background-image: none;
      text-align: center;
      .year{
        border: solid 1px black;
        border-radius: 7px;
        position: relative;
        left: 170px;
        top: -10px;
      }
      .content{
        visibility: hidden;
      }
      &:hover {
        background-image: linear-gradient(360deg, #84C4FE, #e9ecef);
        transition: 1s ease-in-out;
        height: 125px;
        .content{
          transition: 1s 1s;
          visibility: visible;
        }
      }
    }
    .circle{
      background: #84C4FE;
      margin-left: 194px;
      margin-top: -7px;
      width: 10px;
      height: 10px;
      border: 1px solid black;
      border-radius: 7px;
    }
  }
  .timeline-section-right {
    user-select: none;
    cursor: pointer;
    margin-left: 200px;
    width: 200px;
    height: 130px;
    border-left: solid 1px black;
    display: flex;
    flex-direction: column;
    .right-content{
      transition: 1s;
      padding-left: 40px;
      padding-right: 30px;
      width: 125px;
      height: 20px;
      border-bottom: solid 1px black;
      border-radius: 0px 12px 12px 0px;
      text-align: center;
      .year{
        border: solid 1px black;
        border-radius: 7px;
        position: relative;
        right: 170px;
        top: -10px;
      }
      .content{
        visibility: hidden;
      }
      &:hover {
        background-image: linear-gradient(360deg, #4fbb87, #e9ecef);
        transition: 1s ease-in-out;
        height: 120px;
        .content{
          transition: 1s 1s;
          visibility: visible;
        }
      }
    }
    .circle{
      position: relative;
      left: -6px;
      background: #4fbb87;
      margin-top: -7px;
      width: 10px;
      height: 10px;
      border: 1px solid black;
      border-radius: 7px;
    }
  }
}
