<div class="header">
  Timeline
</div>

<div class="timeline-v2-container">
  <!--Section -->
  <div class="timeline-section-left">
    <div class="left-content">
      <div class="title">
        ARKit/Unity
      </div>
      <div class="year">
        September 2017
      </div>
      <div class="content">
        Bringing the Store to the Customer with Augmented Reality
      </div>
    </div>
    <div class="circle"></div>
  </div>
  <!-- Section -->
  <div class="timeline-section-right">
    <div class="right-content">
      <div class="title">
        Personal Site
      </div>
      <div class="year">
        August 2017
      </div>
      <div class="content">
        Demonstrate knowledge of MEAN Stack
      </div>
    </div>
    <div class="circle"></div>
  </div>
  <!--Section -->
  <div class="timeline-section-left">
    <div class="left-content">
      <div class="title">
        Patent Filed
      </div>
      <div class="year">
        May 2017
      </div>
      <div class="content">
        Filed Succesfully under AT&T Disclosure System
      </div>
    </div>
    <div class="circle"></div>
  </div>
  <!-- Section -->
  <div class="timeline-section-right">
    <div class="right-content">
      <div class="title">
        Swift 3
      </div>
      <div class="year">
        February 2017
      </div>
      <div class="content">
        Learning Swift 3 to understand Mobile Design
      </div>
    </div>
    <div class="circle"></div>
  </div>
  <!--Section -->
  <div class="timeline-section-left">
    <div class="left-content">
      <div class="title">
        Angular 2/4
      </div>
      <div class="year">
        December 2016
      </div>
      <div class="content">
        Learning Angular to Understand Website Design
      </div>
    </div>
    <div class="circle"></div>
  </div>
  <!-- Section -->
  <div class="timeline-section-right">
    <div class="right-content">
      <div class="title">
        Joined Dev Team
      </div>
      <div class="year">
        October 2016
      </div>
      <div class="content">
        Started pivoting skills to more technical role
      </div>
    </div>
    <div class="circle"></div>
  </div>
   <!--Section -->
    <div class="timeline-section-left">
      <div class="left-content">
        <div class="title">
          SM/POD at AT&T
        </div>
        <div class="year">
          January 2016
        </div>
        <div class="content">
          Learned business side of AT&T
        </div>
      </div>
      <div class="circle"></div>
    </div>
</div>
