 .container {
   background-image: linear-gradient(180deg, #84C4FE, white);
   width: 100%;
   height: 45vh;
   display: flex;
   justify-content: center;
   justify-items: center;
   .header {
     text-align: center;
     position: absolute;
     bottom: 0;
   }
   .rain-cloud {
     overflow: hidden;
     width: 100%;
     height: 100%;
   }

   $elements: 6;
   @for $i from 0 to $elements {
     img:nth-child(#{$i}) {
       height: random(100) + 140px;
       width: random(100) + 140px;
       position: relative;
       top: random(15) + 2%;
       animation-fill-mode: both;
       animation-delay: random(10) + 0.5s;
       animation: float-left-to-right ease-in-out (random(15) + 7s) infinite;
     }
   }

   i {
     font-size: 30px;
   }
 }

  @keyframes float-left-to-right {
    0% {
      transform: translateX(-100%);
      opacity: 0
    }
    10% {
      opacity: 0.2
    }
    20% {
      opacity: 0.4
    }
    30% {
      opacity: 0.6
    }
    40% {
      opacity: 0.8
    }
    50% {
      opacity: 1
    }
    60% {
      opacity: 0.8
    }
    70% {
      opacity: 0.6
    }
    80% {
      opacity: 0.4
    }
    90% {
      opacity: 0.2
    }
    100% {
      opacity: 0;
      transform: translateX(350%);
    }
  }
