<div class="container">
  <div class="sky"></div>

  <div class="rain-cloud">
    <img src="../../../../assets/landing-page/cloud.svg">
    <img src="../../../../assets/landing-page/cloud.svg">
    <img src="../../../../assets/landing-page/cloud.svg">
    <img src="../../../../assets/landing-page/cloud.svg">
    <img src="../../../../assets/landing-page/cloud.svg">
  </div>

  <!--&lt;!&ndash;Directional Arrow to tell user to scroll down?? Fix?&ndash;&gt;-->
  <!--<div class="arrow-downward">-->
    <!--<i class="material-icons">arrow_downward</i>-->
  <!--</div>-->
</div>
