<div class="education-container">
  <div class="header">
    Education
  </div>

  <div class="education-content">
    <div class="school-degree">
      <div class="header">
        Degree
      </div>
    </div>
    <div class="hard-skills">
      <div class="header">
        Skills
      </div>
      <div *ngFor="let skill of skillData">
        <app-proficiency-bar [title]="skill.name" [icon]="skill.icon" [proficiency]="skill.proficiency"></app-proficiency-bar>
      </div>
    </div>
  </div>
</div>
