.education-container {
  width: 100%;

  .education-content {
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media (min-width: 1024px) {
      .school-degree {
        height: 100%;
        width: 50%;
        .school-content {
          flex-wrap: wrap;
          display: flex;
          justify-content: center;
            .profile-picture {
              border-radius: 25px;
              border: 2px solid black;
              height: 145px;
              width: 145px;
              background-color: #4fbb87;
            }
          p {
            text-transform: uppercase;
            width: 100%;
            margin: 5px;
            text-align: center;
          }
        }
      }
      .hard-skills {
        height: 100%;
        width: 50%;
        background: white;
      }
    }
    @media (max-width: 1024px) {
      .school-degree {
        height: 100%;
        width: 100%;
        .school-content {
          flex-wrap: wrap;
          display: flex;
          justify-content: center;
          .profile-picture {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background-color: #4fbb87;
          }
          p {
            width: 100%;
            margin: 5px;
            text-align: center;
          }
        }
      }
      .hard-skills {
        height: 100%;
        width: 100%;
        background: white;
      }
    }
  }
}
