.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 10%;
  margin-left: 10%;
  perspective: 2000px;
}

.project-container {
  padding-bottom: 20px;
}

.card:hover {
  transition: 0.7s linear;
  transform: rotateY(180deg);
}

.mobile-prompt {
  position: absolute;
  right: 0;
  bottom: 0;
  .material-icons {
    font-size: 32px;
  }
}

.card {
  border-radius: 12px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 225px;
  transition: 0.7s;
  transform-style: preserve-3d;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  img {
    width: 20px;
    height: 20px;
  }

  @media (min-width: 1024px) and (max-width: 1920px){
    .card-back {
      transform: rotateY(180deg);
    }
    &.animate-card {
      transition: 0.7s linear;
      transform: rotateY(180deg);
    }
    .mobile-prompt {
      display: none;
    }
  }
}

/* Desktop Media */
@media (min-width: 1024px) {
  .mobile-prompt {
    display: none;
  }
}

/* Smart Phone Media */
@media (max-width: 500px) {
  .card-container {
    margin-right: 0%;
    margin-left: 0%;
  }
  .card {
    margin: 1px;
    width: 100%;
    height: 225px;
    .card-front, .card-back {
      border-radius: 0px;
    }
  }
}

/* Tablet Media */
@media (max-width:1023px) and (min-width:768px) {
  .card {
    display: flex;
    .card-front {
      background-color: white;
      color: #107896;
      text-transform: uppercase;
      transform: rotateY(0deg);
      p {
        width: 100%;
        font-size: 24px;
        position: absolute;
        top: 10%;
        text-align: center;
      }
      .card-icon-container{
        width: 100%;
        height: 40px;
        position: absolute;
        top: 42%;
        p{
          margin: 0;
        }
        img {
          width: 80px;
          height: 80px;
        }
      }
    }
    .mobile-prompt {
      display: flex;
    }
  }
}

@media (max-width:768px) and (min-width:500px) {
  .card-container {
    margin: 0 3%;
  }
}

// 1920x1080 Display or greater
@media (min-width:1920px) and (max-width: 2559px) {
  .card-container {
    margin: 0 3%;
  }
  .mobile-prompt {
    display: none;
  }
}

@media (min-width: 2560px) {
  .card-container {
    margin: 0 auto;
    width: 70%;
  }
  .mobile-prompt {
    display: none;
  }
}

/* Front and Back Image of Card Styling */
.card-front, .card-back {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  height: 100%;
  backface-visibility: hidden;
  .card-image {
    justify-content: center;
    justify-items: center;
  }
}

.card-front {
  background-color: white;
  color: #107896;
  text-transform: uppercase;
  transform: rotateY(0deg);
  p {
    width: 100%;
    font-size: 24px;
    position: absolute;
    top: 30%;
    text-align: center;
  }
  .card-icon-container{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 50%;
    p{
      margin: 0;
    }
    img {
      width: 60px;
      height: 60px;
    }
  }
}

/* Back of Card Content Styling */
.card-back {
  text-align: center;
  background-color: white;
  color: #107896;
  transform: rotateY(180deg);
  .card-title {
    height: 10%;
  }
  .card-content {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    p {
      line-height: 28px;
      position: absolute;
      top: 15%;
      width: 100%;
    }
  }
  .card-technologies {
    height: 10%;
    padding: 0 5px 0 5px;
    display: flex;
    justify-content: space-between;
  }
  .card-info {
    height: 10%;
    display: flex;
    padding: 0 5px 0 5px;
    justify-content: space-between;
    .card-date {
      height: 20px;
    }
    .card-icons {
      i {
        font-size: 20px;
        padding: 0 3px;
      }
    }
  }
}
