.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
  perspective: 2000px;
}

.project-container {
  padding-bottom: 20px;
}

.card:hover {
  transition: 0.7s linear;
  transform: rotateY(180deg);
}

.card {
  border-radius: 5px;
  margin: 3px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 225px;
  transition: 0.7s;
  transform-style: preserve-3d;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  img {
    width: 20px;
    height: 20px;
  }

  @media (min-width: 1024px) and (max-width: 1920px){
    .card-back {
      transform: rotateY(180deg);
    }
    &.animate-card {
      transition: 0.7s linear;
      transform: rotateY(180deg);
    }
    .mobile-prompt {
      display: none;
    }
  }
}

/* Desktop Media */
@media (min-width: 1024px) {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .mobile-prompt {
    display: none;
  }
}

/* Smart Phone Media */
@media (max-width: 500px) {
  .card-container{
    margin: 0;
  }
  .card {
    margin: 0;
    width: 100%;
    height: 225px;
    &.animate-card {
      transform: rotateY(180deg);
    }
  }
}

/* Tablet Media */
@media (max-width:1024px) and (min-width:768px) {
  .card-container{
  }
  .card {
    display: flex;
    &.animate-card {
      transform: rotateY(180deg);
    }
    .mobile-prompt {
      display: flex;
    }
  }
}

@media (max-width:768px) and (min-width:500px) {
  .card-container {
    margin: 0 3%;
  }
}

// 1920x1080 Display or greater
@media (min-width:1920px) {
  .card-container {
    margin: 0 3%;
  }
  .mobile-prompt {
    display: none;
  }
}

/* Front and Back Image of Card Styling */
.card-front, .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  height: 100%;
  backface-visibility: hidden;
  .card-image {
    justify-content: center;
    justify-items: center;
  }
}

.card-front {
  background-color: #FFCE90;
  text-transform: uppercase;
  transform: rotateY(0deg);
  p {
    width: 100%;
    font-size: 24px;
    position: absolute;
    top: 30%;
    text-align: center;
  }
  .card-icon-container{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 65%;
    p{
      margin: 0;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}

/* Back of Card Content Styling */
.card-back {
  color: #120000;
  background-color: #EE87AA;
  transform: rotateY(180deg);
  .card-title {
    height: 10%;
  }
  .card-content {
    height: 80%;
  }
  .card-technologies {
    height: 10%;
    display: flex;
    justify-content: space-between;
  }
  .card-info {
    height: 10%;
    display: flex;
    justify-content: space-between;
    .card-date {
      height: 20px;
    }
    .card-icons {
      i {
        font-size: 20px;
        padding: 0 3px;
      }
    }
  }
}
