

/* Desktop Media */
@media (min-width: 1025px) {
  .about-me-container{
  width: 100%;
  .content-container{
    display: flex;
    width: 100%;
      .content {
        border: 1px solid black;
        margin: 0 5px;
        padding: 0 5px;
        width: 33%;
        color: grey;
      }
    }
  }
}

/* Smart Phone Media */
@media (max-width: 500px) {
  .about-me-container{
    width: 100%;
    .content-container{
      display: flex;
      width: 100%;
      flex-direction: column;
      .content {
        margin-top: 5px;
        border: 1px solid black;
        width: 100%;
        color: grey;
      }
    }
  }
}

/* Tablet Media */
@media (max-width: 1024px) and (min-width: 768px) {
  .about-me-container {
    width: 100%;
    .content-container {
      display: flex;
      width: 100%;
      .content {
        border: 1px solid black;
        margin: 0 5px;
        padding: 0 5px;
        width: 33%;
        color: grey;
      }
    }
  }
}
