.about-me-container {
  padding-bottom: 30px;
}


/* Desktop Media */
@media (min-width: 1025px) {
  .about-me-container{
    display: flex;
    width: 100%;
    .content-container{
      margin: 0 5px;
      flex-direction: column;
      width: 33%;
      display: flex;
      flex-wrap: wrap;
        .content {
          height: 30%;
          font-size: 24px;
          text-align: center;
          width: 100%;
          color: grey;
        }
      .video-content {
        height: 70%;
        width: 100%;
        iframe {
          height: 250px;
        }
      }
    }
  }
}

/* Smart Phone Media */
@media (max-width: 500px) {
  .about-me-container{
    .content-container{
      margin: 10px 5px;
      .content {
        height: 30%;
        font-size: 24px;
        text-align: center;
        color: grey;
      }
      .video-content {
        height: 70%;
        width: 100%;
        iframe {
          height: 250px;
        }
      }
    }
  }
}

/* Tablet Media */
@media (max-width: 1024px) and (min-width: 768px) {
  .about-me-container{
    display: flex;
    width: 100%;
    .content-container{
      margin: 0 5px;
      flex-direction: column;
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      .content {
        height: 30%;
        font-size: 24px;
        text-align: center;
        width: 100%;
        color: grey;
      }
      .video-content {
        height: 70%;
        width: 100%;
        iframe {
          height: 250px;
        }
      }
    }
  }
}
