.education-container {
  width: 100%;

  .education-content {
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @media (min-width: 1024px) {
      .school-degree {
        height: 100%;
        width: 33.33%;
        background: lightblue;
      }
      .hard-skills {
        height: 100%;
        width: 33.33%;
        background: lightgreen;
      }
      .soft-skills {
        height: 100%;
        width: 33.33%;
        background: lightcoral;
      }
    }
    @media (max-width: 1024px) {
      .school-degree {
        height: 100%;
        width: 100%;
        background: lightblue;
      }
      .hard-skills {
        height: 100%;
        width: 100%;
        background: lightgreen;
      }
      .soft-skills {
        height: 100%;
        width: 100%;
        background: lightcoral;
      }
    }
  }
}
