@media (min-width: 1025px) {
  div.timeline-container {
    width: 90%;
    height: 200px;
    margin: 250px auto 100px auto;
    display: flex;
    text-align: center;
    justify-content: center;
    .timeline-red {
      width: 100px;
      height: 15px;
      background: lightcoral;
      flex-direction: row-reverse;
      .arrow-up {
        width: 0;
        height: 0;
        margin: -10px 40px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid lightcoral;
      }
      .red-info-circle {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin: -150px 0;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background: lightcoral;
        transition: ease-in-out 0.75s;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
        color: #fff;
      }
      .red-info-circle:hover {
        position: relative;
        transition: ease-in-out 0.75s;
        transform: scale(1.8) translate(0px, -20px);
      }
    }
    .timeline-green {
      width: 150px;
      height: 15px;
      background: lightgreen;
      .arrow-up {
        width: 0;
        height: 0;
        margin: -10px 65px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid lightgreen;
      }
      .green-info-circle {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin: -150px 25px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background: lightgreen;
        transition: ease-in-out 0.75s;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
        color: #fff;
      }
      .green-info-circle:hover {
        position: relative;
        transition: ease-in-out 0.75s;
        transform: scale(1.8) translate(0px, -20px);
      }
    }
    .timeline-blue {
      width: 200px;
      height: 15px;
      background: lightblue;
      .arrow-down {
        width: 0;
        height: 0;
        margin: 15px 90px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid lightblue;
      }
      .blue-info-circle {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin: 40px 50px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background: lightblue;
        transition: ease-in-out 0.75s;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
        color: #fff;
      }
      .blue-info-circle:hover {
        position: relative;
        transition: ease-in-out 0.75s;
        transform: scale(1.8) translate(0px, 20px);
      }
    }
    .timeline-purple {
      width: 100px;
      height: 15px;
      background: mediumpurple;
      .arrow-down {
        width: 0;
        height: 0;
        margin: 15px 40px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid mediumpurple;
      }
      .purple-info-circle {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin: 40px 0px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background: mediumpurple;
        transition: ease-in-out 0.75s;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
        color: #fff;
      }
      .purple-info-circle:hover {
        position: relative;
        transition: ease-in-out 0.75s;
        transform: scale(1.8) translate(0px, 20px);
      }
    }
    .timeline-orange {
      width: 150px;
      height: 15px;
      background: lightsalmon;
      .arrow-up {
        width: 0;
        height: 0;
        margin: -10px 65px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid lightsalmon;
      }
      .orange-info-circle {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin: -150px 25px;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background: lightsalmon;
        transition: ease-in-out 0.75s;
        text-align: center;
        vertical-align: middle;
        line-height: 100px;
        color: #fff;
      }
      .orange-info-circle:hover {
        position: relative;
        transition: ease-in-out 0.75s;
        transform: scale(1.8) translate(0px, -20px);
      }
    }
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

@media (max-width: 1024px){
  div.timeline-container {
    display: none;
  }
}
