<div class="header">
  Timeline
</div>
<div class="timeline-container">
  <div class="timeline-red">
    <div class="arrow-up"></div>
    <div class="red-info-circle">
      2015 - Electrical Engineering and working in IT
    </div>
  </div>
    <div class="timeline-orange">
      <div class="arrow-down"></div>
      <div class="orange-info-circle">
        January 2016 - Began working at AT&T
      </div>
    </div>
    <div class="timeline-yellow">
      <div class="arrow-up"></div>
      <div class="yellow-info-circle">
        February 2016 - Worked as Scrum Master and POD
      </div>
    </div>
    <div class="timeline-green">
      <div class="arrow-down"></div>
      <div class="green-info-circle">
        September 2016 - Started working in Angular JS on dev team
      </div>
    </div>
    <div class="timeline-blue">
      <div class="arrow-up"></div>
      <div class="blue-info-circle">
        December 2016 - Learning Angular 2 and MEAN stack
      </div>
    </div>
  <div class="timeline-indigo">
    <div class="arrow-down"></div>
    <div class="indigo-info-circle">
      February 2017 - Started learning iOS
    </div>
  </div>
   <div class="timeline-violet">
     <div class="arrow-up"></div>
     <div class="violet-info-circle">
       May 2017 - Patent Filed with AT&T Disclosure System
     </div>
   </div>
  </div>
