<div class="timeline-header">
  Timeline
</div>
<div class="timeline-container">
  <div class="timeline-black-medium">
    <div class="arrow-up"></div>
    <div class="black-info-circle">
      content
    </div>
  </div>
    <div class="timeline-salad-green-small">
      <div class="arrow-down"></div>
      <div class="salad-green-info-circle">
        content
      </div>
    </div>
    <div class="timeline-small-black">
      <div class="arrow-up"></div>
      <div class="black-info-circle">
        content
      </div>
    </div>
    <div class="timeline-salad-green-large">
      <div class="arrow-down"></div>
      <div class="salad-green-info-circle">
        content
      </div>
    </div>
    <div class="timeline-black-medium">
      <div class="arrow-up"></div>
      <div class="black-info-circle">
        content
      </div>
    </div>
  <div class="timeline-salad-green-large">
    <div class="arrow-down"></div>
    <div class="salad-green-info-circle">
      content
    </div>
  </div>
   <div class="timeline-small-black">
     <div class="arrow-up"></div>
     <div class="black-info-circle">
       content
     </div>
   </div>
  </div>
