<div class="timeline-header">
  Timeline
</div>
<div class="timeline-container">
    <div class="timeline-orange">
      <div class="arrow-up"></div>
      <div class="orange-info-circle">
        content
      </div>
    </div>
    <div class="timeline-purple">
      <div class="arrow-down"></div>
      <div class="purple-info-circle">
        content
      </div>
    </div>
    <div class="timeline-red">
      <div class="arrow-up"></div>
      <div class="red-info-circle">
        content
      </div>
    </div>
    <div class="timeline-blue">
      <div class="arrow-down"></div>
      <div class="blue-info-circle">
        content
      </div>
    </div>
    <div class="timeline-green">
      <div class="arrow-up"></div>
      <div class="green-info-circle">
        content
      </div>
    </div>
   <div class="timeline-blue">
     <div class="arrow-down"></div>
     <div class="blue-info-circle">
       content
     </div>
   </div>
   <div class="timeline-red">
     <div class="arrow-up"></div>
     <div class="red-info-circle">
       content
     </div>
   </div>
   <div class="timeline-purple">
     <div class="arrow-down"></div>
     <div class="purple-info-circle">
       content
     </div>
   </div>
   <div class="timeline-orange">
     <div class="arrow-up"></div>
     <div class="orange-info-circle">
       content
     </div>
   </div>
  </div>
