/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: gainsboro;
  .header {
    letter-spacing: 3px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
    display: flex;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: center;
  }
}
